<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoManager">
        <activity
            android:name="proyecto.automanagerapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="proyecto.automanagerapp.AdminServiciosActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.AggServicioActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.EditarServicioActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.AdminOrdenServicioActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.AggOrdenesServicioActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.AdminClientesActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.AggClienteActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.AdminProveedoresActivity"
            android:exported="false"/>

        <activity
            android:name="proyecto.automanagerapp.AggProveedorActivity"
            android:exported="false"/>

        <activity
            android:name="proyecto.automanagerapp.AdminTecnicosActivity"
            android:exported="false"/>

        <activity
            android:name="proyecto.automanagerapp.AggTecnicoActivity"
            android:exported="false"/>

        <activity
            android:name="proyecto.automanagerapp.AdminFacturasActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.GenerarFacturaActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.DetalleFacturaActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.ReporteServiciosActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.ReporteTecnicosActivity"
            android:exported="false" />

        <activity
            android:name="proyecto.automanagerapp.DetalleOrdenActivity"
            android:exported="false" />


    </application>

</manifest>